/* *{
    margin-top:0px;
    padding-top: 0px;
} */

body {
  padding: 0px;
  margin: 0px;
  /* background-color: rgb(80, 80, 80); */
}

.palin-html-cv-body {
  padding: 15px;
}

#index-body {
  font-family: sans-serif;
  background-color: rgb(175, 175, 175);
}

#navbar {
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

#navbar li {
  list-style: none;
}

#navbar a {
  font-family: sans-serif;
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 5px;
  border: none;

  color: rgb(255, 255, 255);
  /* border-radius: 5px; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 1px;
  transition: 0.4s;
  transition-timing-function: ease-out;

  font-weight: 500;
}

#navbar a:hover {
  background-color: rgb(59, 59, 59);
}

/* #navbar li {
  background-color: aqua;
  border: 1px solid black;
  padding: 5px;
  margin: 1px;
} */
